SECRET_KEY='p&l%385148kslhtyn^##a1)ilz@4zqj=rq&agdol^##zgl9(vs' # пароль проекта (установите свой)
POSTGRES_ENGINE=django.db.backends.postgresql # указываем, что работаем с PostgreSQL
POSTGRES_NAME=postgres # имя базы данных
POSTGRES_USER=postgres # логин для подключения к базе данных
POSTGRES_PASSWORD=postgres # пароль для подключения к БД (установите свой)
POSTGRES_HOST=db # название сервиса (контейнера)
POSTGRES_PORT=5432 # порт для подключения к БД